<md-list>

    <md-subheader class="md-no-sticky">Orientação do grafo</md-subheader>
    <md-list-item>
        <div class="md-list-item-text" layout="column">

            <div ng-if="graph.isDirected()">Grafo direcionado</div>
            <div ng-if="!graph.isDirected()">Grafo não direcionado</div>

        </div>
    </md-list-item>
    <md-divider ></md-divider>

    <md-subheader class="md-no-sticky">Conexidade</md-subheader>
    <md-list-item>
        <div class="md-list-item-text" layout="column">

            <p ng-if="graph.getConexidade() === 'c3'">Fortemente conexo</p>
            <p ng-if="graph.getConexidade() === 'c2'">Semi-fortemente conexo</p>
            <p ng-if="graph.getConexidade() === 'c1'">Conexo</p>
            <p ng-if="graph.getConexidade() === 'c0'">Desconexo</p>


        </div>
    </md-list-item>
    <md-divider ></md-divider>

    <md-subheader class="md-no-sticky">Ordem do grafo (|V|)</md-subheader>
    <md-list-item>
        <div class="md-list-item-text" layout="column">
            <p>{{graph.getNodes().length}}</p>
        </div>
    </md-list-item>
    <md-divider ></md-divider>
    <md-subheader class="md-no-sticky">Tamanho do grafo (|E|)</md-subheader>
    <md-list-item>
        <div class="md-list-item-text" layout="column">
            <p>{{graph.getEdges().length}}</p>
        </div>
    </md-list-item>
    <md-divider ></md-divider>

    <md-subheader class="md-no-sticky">G = (V,E)</md-subheader>
    <md-list-item>
        <div class="md-list-item-text" layout="row">
            <b>V</b> = {
            <span ng-repeat="node in graph.getNodes()"
                  ng-mouseenter="selectNode(node.index)"
                  ng-mouseleave="deselectNode(node.index)">
            <span ng-show="!$first">,</span>{{node.label}}</span> }

        </div>
    </md-list-item>

    <md-list-item>

        <div class="md-list-item-text" layout="row">
            <p>

            <b>E</b> = {
        <span ng-repeat="edge in graph.getEdges()" >
            <span ng-show="!$first">,</span>
                <span style="white-space: nowrap">{ {{edge.source.label}}, {{edge.target.label}} }</span>
        </span> }

            </p>

        </div>


    </md-list-item>
    <md-divider ></md-divider>
</md-list>
