<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edição de aresta</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelLinkEdit()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="margin: 16px; padding:16px; width: 500px;">

            <div>
                <h3>Peso</h3>
            </div>

            <div layout>

                <md-slider flex
                           min="1"
                           max="100"
                           ng-model="selectedLink.peso"
                           id="radius-slider"></md-slider>

                <div layout
                     flex="20"
                     layout-align="center center">
                    <input flex
                           type="number"
                           ng-model="selectedLink.peso">
                </div>
            </div>

            <div ng-if="graph.isDirected && linkDirecaoContraria == undefined">
                <h3>Direção</h3>

                <div layout layout-align="center center">
                {{selectedLink.source.label}}
                <md-button class="md-raised"
                           ng-click="invertLink()">
                    <md-icon>arrow_forward</md-icon>
                </md-button>

                {{selectedLink.target.label}}
                </div>
            </div>




        </md-dialog-content>
        <div class="md-actions"
             layout="row">

            <md-button md-autofocus
                       class="md-raised"
                       ng-click="cancelLinkEdit()">
                Cancelar
            </md-button>

            <span flex></span>

            <md-button class="md-raised md-primary"
                       ng-click="answerLinkEdit()">
                Edição concluída
            </md-button>

        </div>
    </form>

</md-dialog>