.node, .link {
    fill: #666666;
    cursor: pointer;
}

.node_selected circle{
    fill: #4494ff;
    stroke: #254180;
    stroke-width: 4;
    stroke-opacity: 50%;
}

.node_selected text {
    fill: #4494ff;
}

.edittext{
    fill: red;
}

.drag_line {
    stroke: #999;
    stroke-width: 5;
    pointer-events: none;
}

.drag_line_hidden {
    stroke: #999;
    stroke-width: 0;
    pointer-events: none;
}

.link,
.marker,
#link-group line{
    stroke: #434343;
    stroke-width: 2;
}

.link_selected {
    stroke: #4494ff;
    stroke-width: 2;

}

#graphStageDiv{
    background-color: #e8e8e8;
}

table.adjacency-matrix,
.adjacency-matrix tr,
.adjacency-matrix td,
.adjacency-matrix th {
    text-align: center;
    border: 1px solid #9E9E9E;
    border-collapse: collapse;
    border-spacing: 0;
}

.adjacency-matrix td,
.adjacency-matrix tr {
    padding: 0;
}

.selected-cell{
    background-color: #8BC34A;
}

.node text{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.hover-node-list span.node-list{
    border: 1px solid black;
    background-color: #b3b3b3;
}

.node-list{
    width: 30px;
    cursor: pointer;
    border: 1px solid gainsboro;
    margin: 0 5px 0 5px;
    padding: 5px;
    text-align: center;
}

.node circle{

    stroke: black;
    stroke-width: 2;
}

.node text{
    fill: black;
}


md-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.directed .link{
    marker-end: url(#arrow);
}

.undirected .link{
    marker-end: none;
}

/*
md-tab-content,
md-tab-content > div{
    height: 100%;
}*/

.line-hover{
    background-color: darkgray;
    transition:0.5s linear all;
    cursor: default;
}

path {
    fill: none;
    stroke: #f00;
    stroke-width: 3px;
}

.highlight-cell{
    cursor: pointer;
    background-color: #b3b3b3;
}

.adjacency-matrix table,
.adjacency-matrix table tr,
.adjacency-matrix table td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #bebebe;

}

.linkgroup text{
    font-family: Arial, Helvetica, sans-serif;
    fill: black;
}